html {
    font-family: 'Inter', system-ui, sans-serif;
    background-color: #1a1a1e;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
}

#header {
    display: flex;
    align-items: center;
    background-color: #121214;
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%;
    height: 5vh;
    border-bottom: #29292d 1px solid;
}

#header h1 {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 1.5vw;
    background: linear-gradient(90deg, #4E00CA, #FF00EA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: transparent;
}

#web-container {
    display: flex;
    flex-direction: row;
    height: 95vh;
    margin-top: 5vh;
    padding: 0;
}

#sidebar {
    width: 25vw;
    height: 95vh;
    background-color: #121214;
    border-right: #29292d 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#chat-container {
    flex: 1;              
    display: flex;
    flex-direction: column;
    color: #dcddde;
    font-size: 2rem;
    overflow-y: auto;
    padding: 20px;         
}

input {
    padding: 20px;
    font-size: 1.3rem;
    border: none;
    border-radius: 8px;
    background-color: #222327;
    color: #dcddde;
}

input:focus {
    outline: none;
}

#user-sidebar {
    margin-top: 10px;
    background-color: #202024;
    display: flex;
    align-items: center;
    height: 6vh;
    width: 94%;
    border-radius: 10px;
}

#username {
    flex: 1;
    margin-left: 15px;
    color: #dcddde;
    font-size: 1.7rem;
}

#gear {
    margin-right: 15px;
    color: #72767d;
    font-size: 1.7rem;
    cursor: pointer;
}

.message {
  padding: 8px 12px;
  margin-bottom: 10px;
  border-radius: 6px;
  width: 80%;
  max-width: 80%;
  display: flex;
  flex-direction: column;
}

.message:hover {
  background-color: #2c2f33;
}

.username {
  font-weight: 600;
  color: #ddd;
  margin-bottom: 5px;
  font-size: 1.5rem;
}

.text {
  color: #ddd;
  font-size: 1.5rem;
}

.timestamp {
  font-size: 0.8rem;
  color: #888;
  align-self: flex-end;
  margin-left: 10px;
}
