#section-1 {
    padding: 20px 40px;
    line-height: 0.7;
    border-bottom: #29292d 1px solid;
}

#section-1 h2 {
    font-family: 'DM Sans', sans-serif;
    color: #fff;
    font-size: 3rem;
}

#section-1 h1 {
    font-family: 'Cal Sans', sans-serif;
    color: #fff;
    font-size: 6rem;
}

#section-1 h1 span {
    background: linear-gradient(90deg, #4E00CA, #FF0044);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    white-space: pre-wrap;
    
    border-right: 3px solid #FF0044;
    padding-right: 4px;
    animation: blink-cursor 0.75s step-end infinite;
}

@keyframes blink-cursor {
    from, to { border-color: transparent; }
    50% { border-color: #FF0044; }
}



#section-2 {
    padding: 20px 40px;
    display: flex;
    flex-direction: row;
    border-bottom: #29292d 1px solid;
}

#section-2 .left {
    flex: 0.6;
    padding-right: 50px;
}

#section-2 .right {
    display: flex;
    flex: 0.4;
    align-items: center;
    justify-content: center;
}

#section-2 h2 {
    background: linear-gradient(90deg, #4E00CA 0%, #FF0044 20%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    white-space: pre-wrap;
    font-family: 'Cal Sans', sans-serif;
}

#section-2 h1, #section-3 h1 {
    color: white;
    font-family: 'DM Sans', sans-serif;
    font-size: 2rem;
}

#section-2 h3, #section-3 h3 {
    color: #96979e;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

#section-2 video {
    max-width: 100%;
    max-height: 450px;
    object-fit: contain;
}

#section-3 {
    padding: 20px 40px;
    display: flex;
    flex-direction: row;
    border-bottom: #29292d 1px solid;
}

#section-3 .left {
    flex: 0.4;
    display: flex;
    align-items: center;
    justify-content: center;
}

#section-3 .right {
    display: flex;
    flex: 0.6;
    flex-direction: column;
}

#section-3 h2 {
    background: linear-gradient(90deg, #4E00CA 0%, #FF0044 40%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    white-space: pre-wrap;
    font-family: 'Cal Sans', sans-serif;
    margin-right: 50px;
}

#section-3 video {
    width: 100%;
    max-width: 300px; /* Constrains mobile preview width */
    max-height: 500px;
    object-fit: contain;
}

#section-3 a {
    color: #96979e;
    background: linear-gradient(90deg, #ffffff 50%, #96979e 50%);
    background-size: 200% 100%;
    background-position: 100% 0; 
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: background-position 1s ease;
}

#section-3 a:hover {
    background-position: 0% 0;
}

#builtWith {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px
}

#builtWith h1 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    color: #96979e;
    font-size: 1.2rem;
    text-align: center;
}

#builtWithLogos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5%
}

#builtWith img {
    height: 30px;
    cursor: pointer;
}

#section-4 {
    padding: 0 100px;
    display: flex;
    align-items: center;
    border-top: #29292d 1px solid;
    margin-top: 50px;
}

#section-4 h1 {
    color: white;
    font-family: 'DM Sans', sans-serif;
    font-size: 4rem;
}

#section-4 a {
    color: #96979e;
    background: linear-gradient(90deg, #96979e 50%, #fff 50%);
    background-size: 200% 100%;
    background-position: 100% 0; 
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: background-position 1s ease;
}

#section-4 a:hover {
    background-position: 0% 0;
}

#section-4 i {
    color: white;
    font-size: 1.5rem;
    vertical-align: top;
    transform: translateY(1em);
}

#section-4 i:hover {
    color: #96979e;
}