html {
    font-family: 'Inter', system-ui, sans-serif;
    background-color: #1a1a1e;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
}

#header {
    display: flex;
    align-items: center;
    background-color: #121214;
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%;
    height: 5vh;
    border-bottom: #29292d 1px solid;
}

#header h1 {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 1.5vw;
    background: linear-gradient(90deg, #4E00CA, #FF00EA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: transparent;
}

#web-container {
    display: flex;
    flex-direction: row;
    height: 95vh;
    margin-top: 5vh;
    padding: 0;
}

#sidebar {
    width: 25vw;
    height: 95vh;
    background-color: #121214;
    border-right: #29292d 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}

#main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#chat-container {
    flex: 1;              
    display: flex;
    flex-direction: column;
    color: #dcddde;
    font-size: 2rem;
    overflow: hidden;
    padding: 20px;         
}

input {
    padding: 20px;
    font-size: 1.3rem;
    border: none;
    border-radius: 8px;
    background-color: #222327;
    color: #dcddde;
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    flex-shrink: 0;
    box-sizing: border-box;
}

input:focus {
    outline: none;
}

#messages {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

#user-sidebar {
    margin-top: 10px;
    background-color: #202024;
    display: flex;
    align-items: center;
    height: 6vh;
    width: 94%;
    border-radius: 10px;
    justify-content: space-between;
}

#username {
    flex: 1;
    margin-left: 15px;
    color: #dcddde;
    font-size: 1.5rem;
    display: inline-block;  
    max-width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#gear {
    flex-shrink: 0;
    margin-right: 15px;
    color: #72767d;
    font-size: 1.7rem;
    cursor: pointer;
}

#gear:hover {
    color: #afafaf;
}

#adminLogin {
    margin-top: 20px;
    width: 94%;
    padding: 10px;
    font-size: 1.5rem;
    border: none;
    border-radius: 8px;
    background: linear-gradient(90deg, #4E00CA 0%, #FF00EA 50%, #4E00CA 100%);
    color: #dcddde;
    cursor: pointer;
    background-size: 200% 100%;
    background-position: 0% 0%;
    transition: background-position 0.4s ease;
}

#adminLogin:hover {
    background-position: 100% 0%;
}

.message {
    padding: 8px 12px;
    margin-bottom: 10px;
    border-radius: 6px;
    width: 80%;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    overflow: hidden;
}

.message:hover {
    background-color: #2c2f33;
}

.message-header {
    display: flex;
    align-items: center;
    gap: 6px;
    align-items: center;
}

.username {
    font-weight: 600;
    color: #ddd;
    font-size: 1.5rem;
    display: flex;
    margin-bottom: 10px;
}

.admin-username {
    background: linear-gradient(90deg, #4E00CA, #FF00EA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    background-clip: transparent;
}

.system-username {
    font-weight: 600;
    color: #afafaf;
    font-size: 1.5rem;
    display: flex;
    margin-bottom: 10px;
}

.admin-badge {
    color: #ddd;
    font-size: 1.3rem;
    margin-right: 6px;
    font-weight: 600;
    margin-top: 5px;
}

.text {
    color: #ddd;
    font-size: 1.5rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.timestamp {
    font-size: 0.8rem;
    color: #888;
    margin-left: 10px;
}

.publicButton {
    background-color: #121214;
    border: none;
    color: #dcddde;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 20px;
    width: 94%;
    padding: 10px;
    border-radius: 8px;
}

.publicButton:hover {
    background-color: #212124;
    cursor: pointer;
}

.publicButton.active {
    background-color: #29292d;
    color: white;
}

.actionButton {
    background-color: #121214;
    border: none;
    color: #dcddde;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 20px;
    width: 94%;
    padding: 10px;
    border-radius: 8px;
}

.actionButton:hover {
    background-color: #212124;
    cursor: pointer;
}

#myChatsTitle {
    margin-top: 30px;
    color: #dcddde;
    font-size: 1.2rem;
    align-self: flex-start;
    margin-left: 5%;
}

#noServersMsg {
    margin-top: 10px;
    color: #777;
    font-size: 1rem;
    align-self: flex-start;
    margin-left: 5%;
    display: none;
}

#myChats {
    flex: 0 0 auto;
    overflow-y: auto;
    width: 94%;
    height: auto;
}

.chatRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 6px;
    padding: 10px;
    border-radius: 8px;
}

.chatRow:hover {
    background-color: #212124;
}

.chatRow.active {
    background-color: #29292d;
    color: white;
}

.chatButton {
    flex: 1;
    text-align: left;
    background-color: transparent;
    border: none;
    color: #dcddde;
    font-size: 1.3rem;
}

.chatButton:hover {
    cursor: pointer;
}

.leaveChat {
    cursor: pointer;
    padding: 4px;
    margin-left: 8px;
    color: #aaa;
    font-size: 14px;
    user-select: none;
    transition: 0.2s;
}

.leaveChat:hover {
    color: #dcddde;
}

#divider {
    width: 90%;
    border: 0.5px solid #29292d;
    margin-top: 20px;
}

#activeUsersTitle {
    margin-top: 30px;
    color: #dcddde;
    font-size: 1.2rem;
    align-self: flex-start;
    margin-left: 5%;
}

#noActiveUsersMsg {
    margin-top: 10px;
    color: #777;
    font-size: 1rem;
    align-self: flex-start;
    margin-left: 5%;
    display: none;
}

#activeUsers {
    flex: 1;
    overflow-y: auto;
    width: 94%;
}

.activeUser {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 6px;
    padding: 10px;
    border-radius: 8px;
    color: #afafaf;
    font-size: 1.3rem;
}








