<div class="left">
    <div id="footer-logo">
            <img src="/client/Assets/wordmark.svg" onclick="window.location.href = window.location.origin">
    </div>
    <p>&copy; 2026 Acetyl. All rights reserved.</p>
</div>
<div class="right">
    <div class="footer-list">
        <h1>Official URLs</h1>
        <a href="https://acetyl.cc/client/">acetyl.cc</a>
        <a href="https://acetyl.onrender.com/client/">acetyl.onrender.com</a>
    </div>
    <div class="footer-list">
        <h1>Documentation</h1>
        <a href="/support/">Support</a>
        <a href="/legal/">Legal</a>
        <a href="/privacy/" target="_blank">Privacy Policy</a>
        <a href="/terms/" target="_blank">Terms of Service</a>
    </div>
</div>
