<div class="left">
    <div id="footer-logo">
            <img src="/client/Assets/favicon.svg" onclick="window.location.href = window.location.origin">
            <h1 onclick="window.location.href = window.location.origin">Acetyl</h1>
    </div>
    <p>&copy; 2026 Acetyl. All rights reserved.</p>
</div>
<div class="right">
    <div class="footer-list">
        <h1>Products</h1>
        <a onclick="window.location.href = window.location.origin + '/client'">Acetyl Client</a>
        <a href="/client/Assets/Acetyl Client for Android.apk" target="_blank">Acetyl Client for Android</a>
        <a href="https://acetylnet.onrender.com" target="_blank">AcetylNET</a>
    </div>
    <div class="footer-list">
        <h1>Documentation</h1>
        <a onclick="window.location.href = window.location.origin + '/support'">Support</a>
        <a onclick="window.location.href = window.location.origin + '/legal'">Legal</a>
        <a href="/client/Assets/Privacy Policy.txt" target="_blank">Privacy Policy</a>
        <a href="/client/Assets/Terms of Service.txt" target="_blank">Terms of Service</a>
    </div>
</div>
