<div class="left">
    <div id="footer-logo">
            <img src="/client/Assets/wordmark.svg" onclick="window.location.href = window.location.origin">
    </div>
    <p>&copy; 2026 Acetyl. All rights reserved.</p>
</div>
<div class="right">
    <div class="footer-list">
        <h1>Products</h1>
        <a href="/client/">Acetyl Client</a>
        <a href="/client/Assets/Acetyl Client for Android.apk">Acetyl Client for Android</a>
        <a href="https://acetylnet.onrender.com" target="_blank">AcetylNET</a>
    </div>
    <div class="footer-list">
        <h1>Documentation</h1>
        <a href="/support/">Support</a>
        <a href="/legal/">Legal</a>
        <a href="/privacy/" target="_blank">Privacy Policy</a>
        <a href="/terms/" target="_blank">Terms of Service</a>
    </div>
</div>
