html {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    padding: 0;
    background: #000;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to top, #000000 0%, #121214 50%, #121214 100%);
}

#header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 7vh;
    border-bottom: #29292d 1px solid;
    background-color: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
}

#header img {
    height: 40px;
    margin-left: 15px;
    cursor: pointer
}

#header h1 {
    font-family: "Cal Sans", sans-serif;
    margin-left: 10px;
    font-size: 1.8rem;
    color: white;
    margin-right: 40px;
    cursor: pointer
}

#header a {
    font-family: 'DM Sans', sans-serif;
    margin-right: 30px;
    font-size: 0.9rem;
    font-weight: 400;
    cursor: pointer;
    background: linear-gradient(90deg, #96979e 50%, #fff 50%);
    background-size: 200% 100%;
    background-position: 100% 0; 
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: background-position 0.3s ease;
}

#header a:hover {
    background-position: 0% 0;
}

#footer {
    display: flex;
    flex-direction: row;
    border-top: #29292d 1px solid;
    padding: 20px
}

#footer .left {
    flex: 0.3;
    display: flex;
    flex-direction: column;
}

#footer-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#footer .left img {
    height: 60px;
    cursor: pointer;
}

#footer .left h1 {
    font-family: 'Cal Sans', sans-serif;
    font-size: 2.4rem;
    color: #fff;
    margin-left: 10px;
    cursor: pointer;
}

#footer .left p {
    font-family: 'DM Sans', sans-serif;
    font-size: 1rem;
    color: #96979e;
}

#footer .right {
    flex: 0.7;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 20px 30px;
    gap: 50px
}

.footer-list {
    display: flex;
    flex-direction: column;
}

.footer-list h1 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 1.2rem;
}

.footer-list a {
    color: #96979e;
    background: linear-gradient(90deg, #fff 50%, #96979e 50%);
    background-size: 200% 100%;
    background-position: 100% 0; 
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: background-position 1s ease;
    font-size: 1rem;
    cursor: pointer;
}

.footer-list a:hover {
    background-position: 0% 0;
}