<img src="/client/Assets/favicon.svg" onclick="window.location.href = window.location.origin">
<h1 onclick="window.location.href = window.location.origin">Acetyl</h1>
<a onclick="window.location.href = window.location.origin">Home</a>
<a onclick="window.location.href = window.location.origin + '/client'">Client</a>
<a onclick="window.location.href = window.location.origin + '/support'">Support</a>
<a onclick="window.location.href = window.location.origin + '/pricing'">Pricing</a>
<a onclick="window.location.href = window.location.origin + '/other'">Other Stuff</a>
