<img src="/client/Assets/wordmark.svg" onclick="window.location.href = window.location.origin">

<a href="/">Home</a>
<a href="/client/">Client</a> 
<a href="/support/">Support</a> 
<a href="/pricing/">Pricing</a>

<div id="products-wrapper">
    <a href="#" class="products-trigger">Products</a>

    <div id="products-menu">
        <div class="product-item">
            <a href="/client/"><h2>Acetyl Client</h2><svg xmlns="http://www.w3.org/2000/svg" width="30" viewBox="1.243 0.843 9.483 10.345" aria-hidden="true" fill=currentColor><path d="M8.949 2.505a.497.497 0 0 1 .546.546L9.5 3.1V8a.5.5 0 0 1-1 0V4.207l-5.147 5.15a.5.5 0 1 1-.707-.707L7.794 3.5H4a.5.5 0 0 1 0-1h4.9z"/>
                </svg></a>
            <p>Chat client made by Acetyl</p>
        </div>
        <div class="product-item">
            <a href="https://acetylnet.onrender.com"><h2>AcetylNET</h2><svg xmlns="http://www.w3.org/2000/svg" width="30" viewBox="1.243 0.843 9.483 10.345" aria-hidden="true" fill=currentColor><path d="M8.949 2.505a.497.497 0 0 1 .546.546L9.5 3.1V8a.5.5 0 0 1-1 0V4.207l-5.147 5.15a.5.5 0 1 1-.707-.707L7.794 3.5H4a.5.5 0 0 1 0-1h4.9z"/>
                </svg></a>
            <p>Website for running HTML and publishing acetyl:// domains</p>
        </div>
        <div class="product-item">
            <a href="https://acyl.acetyl.cc"><img src="/client/Assets/Acyl Logo (white).svg"><h2>Acyl</h2><svg xmlns="http://www.w3.org/2000/svg" width="30" viewBox="1.243 0.843 9.483 10.345" aria-hidden="true" fill=currentColor><path d="M8.949 2.505a.497.497 0 0 1 .546.546L9.5 3.1V8a.5.5 0 0 1-1 0V4.207l-5.147 5.15a.5.5 0 1 1-.707-.707L7.794 3.5H4a.5.5 0 0 1 0-1h4.9z"/>
                </svg></a>
            <p>Official programming language of Acetyl</p>
        </div>
    </div>
</div>
